LLAMA_PORT=8080
LLAMA_MODEL_DIR=../models
LLAMA_MODEL_FILE=model.gguf
LLAMA_HF_REPO=
LLAMA_CONTEXT_SIZE=8192
LLAMA_PARALLEL=1
LLAMA_GPU_LAYERS=auto

COHERE_PORT=9000
COHERE_MODEL_ID=CohereLabs/cohere-transcribe-03-2026
COHERE_DEFAULT_LANGUAGE=en
COHERE_DEVICE=auto
COHERE_BATCH_SIZE=8
COHERE_COMPILE=false
COHERE_PIPELINE_DETOKENIZATION=false
